body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
}

button {
  margin: 6px;
  padding: 10px 18px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
}

.submit {
  background: gold;
  font-weight: bold;
}

.song {
  background: rgba(255,255,255,0.2);
  margin: 10px auto;
  padding: 15px;
  width: 60%;
  border-radius: 10px;
}